@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap%27');
body { font-family: 'Source Code Pro', monospace}

/* Modal Box */
#modal-container{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 70vh; 
  overflow: auto; 
  color: rgb(255, 57, 57);
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 90%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 260px;
}

/* Open Button 
.timeline-item-more-info*/

/* Close Button 
#modal-close-button*/

#modal-image{
    width: 400px;
    height: 400px;
    margin-left: 200px;
}